/* 
max width 450px
This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
 

body {
    font-size: 16px;
    font-family: "Calibri Light", Calibri, sans-serif;
    color: #632d00;
    
    /*width: 100%;
    min-width: 350px;
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px; */
    
    display: flex;
    justify-content: center;
    flex-flow: column;

    
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    
    
}

h1, h2, h3, h4, h5, h6 {
    
    color: #1c9db2;
    
    font-family: Courgette, "Baskerville MT Pro SemiBd", serif;
}

/*====== Header ====== */

header {
    
    display: flex;
    flex-flow: row;
    justify-content: space-around;
     
      

    
}



/* ---- Logo ---- */

header figure {
    
    width: 30%;
    margin: 0px;
    
}

header img {
    width: 100%;
    max-width: 150px;
    
}

#title {
    Width: 70%;
    text-align: right;
    
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    

}
header h1 {
   
    margin: 0px;
    padding-right: 2%;
    
}

header p {
    
    padding-right: 2%;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2em;
}


/*========== NAV ========== */
nav button {
    align-self: flex-end;
    
    background-color: transparent;
    
    color: white;
    
    margin-right: 4%;
    border: none;
    font-size: 2rem;
    
    background-color: #1c9db2;  
}

.navBar {
    
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
     
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
    flex-flow: column;
    
    align-self: flex-end;
    
    list-style: none;

    margin-right: 4%;
    
    width: 60%
}

nav ul li {
    text-align: center;
    
    width: 100%;
    padding: 2% 8%;
    
    background-color: #1c9db2;
   
    border-top: 1px solid rgba(255,255,225,0.3);
}

nav ul li a {
    color: #fff;
    
    text-decoration: none;
    
    
    
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .1em;
}

nav ul li a:hover {
    
     text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
}

nav ul li.active a {
    
     
     text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
}

nav ul.hide {
    display: none;
}



/*============MAIN=========== */
main {
    
    text-align: center;
}
main h2 {
   font-size: 3em; 

    
}
main figure { 
    margin: auto; 
    width:100%; 
}

main figure img { width: 100%; }




.forecast {
    
    display: none;
}

table {
    
    width: 90%;
    padding-left: 5%;
    
}
td, th {
    
    border: 1px solid black;
}

.current img {
    
    vertical-align: middle;
    max-width: 150px;
}

.current {
    
  font-size: 2em;
    font-weight: bold;
}

.highlow {
    
    display: flex;
    
    justify-content: center;
}

.highlow p {
    
    margin: 10px;
}

/*--------- ARTICLE --------*/

article {
    
    display: flex;
    flex-flow:column;
}

article h3 {
    
    margin-bottom: 0%;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-flow: column;
    padding: 2.5%
}

article figure {
    
    display: flex;
    max-width: 400px;
}

article img {
    
     
    width: 90%;
    align-self: center;
}

article p 
{
    
    text-align: left;
    padding: 0% 2.5%;
    margin: 1% 0%;
}


/*======== FOOTER =======*/

footer {
    width: 100%;
    background-color: #632d00;
    color: white;

    text-align: center;
    padding: 20px;
    margin-top: 10px;
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */

 /* -----clear fix------- */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*============GALLERY================*/


main#gallery {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    
    padding: 20px;
}

main#gallery img {
    
    border-radius: 10px;
    
}

    a.shadowbox:link {
    
    text-decoration: none;
    font-size: .8em;
        color: #632d00;
    
}

a.shadowbox:hover {
    
    box-shadow: 3px 3px 3px grey;
    background-color: #1c9db2;
    border-radius: 10px;
    color: white;
    padding: 2%;
}

#gallery figcaption {
    
    padding: 2%;
}

/*===== Home Page Layout ======== */
#homeMain {
    padding-top: 2%;
    
}

 #towninfo {
    
     display: flex;
     flex-flow: wrap;
     justify-content: space-around;
     
    
}

#towninfo h1,  #towninfo h2,  #towninfo p {
    
    text-align: center;
}
#towninfo h3 {
    
    color: #632d00;
}

#towninfo h4 {
    
    text-align: left;
    padding-left: 5%;
    margin-bottom: 2%;
}

#towninfo ul {
    
    text-align: left;
    margin-top: 0%;
    margin-bottom: 10%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
