@media only screen and (min-width: 64em) {
  
	
/* ======== NAV ========== */ 


	#navList {
		margin-left: 10%;
		
	}
	
	#title_n_logo {
		
		margin-right: 10%;
	}
	
/* ===== Top Margin for Pages ===== */
	
.top_margin {
	
	margin-top: 6%;
}	

/* === Index Registaration container === */ 	
	
	
	#register_container_medium_plus h2 {
		
		font-size: 2.5em;
	}
	
	#register_container_medium_plus p{
	
		font-size: 1.5em;
		margin-bottom: 30px;
		
	}
	
    #home {
		
		width: 80%;
	}
	
	#home aside {
	
	grid-template-columns:  1fr 1fr 1fr;
	grid-gap: 2%;

}
	
	/* ========== MAIN Contact Page ============ */
#contact_page, #events {
	width: 50%;
}	

form {
	
	width: 75%;
}
	
#contact_page .button {
	
	width: 20%;
	margin-top: 4%;

	
}	
  
}
/*end*/