@media only screen and (min-width: 64em) {
  
	
/* ======== NAV ========== */ 


	#navList {
		margin-left: 10%;
		
	}
	
	#title_n_logo {
		
		margin-right: 10%;
	}
	
/* ===== Top Margin for Pages ===== */
	
.top_margin {
	
	margin-top: 6%;
}	

/* === Index Registaration container === */ 	
	
	#register_container_medium_plus {
	

	     top: 32%;
	}
	
	#register_container_medium_plus h2 {
		
		font-size: 2.3em;
	}
	
	#register_container_medium_plus p{
	
		font-size: 1.3em;
		margin-bottom: 30px;
		
	}
	
    #home {
		
		width: 80%;
	}
	
	#home aside {
	
	grid-template-columns:  1fr 1fr 1fr;
	grid-gap: 2%;

}
	
	/* ========== MAIN Contact Page ============ */
#contact_page, #events {
	width: 50%;
}	

form {
	
	width: 75%;
}

	#info_container {
		width: 80%;
		margin: auto;
		
	}
	
#contact_page .button {
	
	width: 20%;
	margin-top: 4%;

	
}

	
/* ===== Tours Page ===== */
.tour_groups {
	
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto;
  	grid-gap: 10px;
  	padding: 10px;
	}

	
	
/* ==== Events === */
	#events main {
		
		width:100%;
	}
	
#ads_events {
	grid-template-columns:  1fr 1fr;
	grid-gap: 2%;
	width: 100%;
	
	
}		
	
/*===== Services ====== */
	
	#service_page {
		width: 50%;
	}
	
	
	#service_page img {
		
		opacity: .8;
	}
	
	#table_group {
		
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
}
/*end*/

@media only screen and (min-width: 80em) {
	
	#register_container_medium_plus {
	

	top: 43%;
	}
	
}