/* COLORS
    Dark Navy    #617087 / rgba(97, 112, 135, .5);		     
    Navy         #6B9DB2 / rgba(107, 157, 178, .5);

    Lime Green   #C4CB23 / rgba (196, 203, 35, .6)

    Gray         #9C9DA2 / rgba(156, 157, 162, .5);

	Light Gray 	#d7d8da;

	Dark Gray	#6c6c6d;

*/

body {
    
    background-color: #d7d8da;
}

h1, h2 {
    
    color: #C4CB23;
    font-family: "Asar", "Baskerville MT Pro SemiBd", serif;
}

h3, h4, h5, h6 {
    
    color: #6B9DB2; 
    font-family: "Asar", "Baskerville MT Pro SemiBd", serif;
}

p {
    
    color: #6c6c6d;
    font-family: "Quicksand", Calibri, sans-serif;
}

.page_title {
	
	font-size: 2.5em;
}

.top_margin {
	
	margin-top: 10%;
}

.image {
	
	width: 100%;
}

/* ======= basic button style =======*/
.button {
	
	border:none;
	background-color: rgba(196, 203, 35, .85);
	color: #617087;
	font-family: "Asar", "Baskerville MT Pro SemiBd", serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: .15em;
	box-shadow: 0px 0px 10px #617087;
	padding: 2%;
	border-radius: 3px;	
}


.button:hover{
	background-color: #617087;
	color: #C4CB23;
}

.button:active{
	box-shadow: none;
	
}

/* ==== General Links ====== */
a:link {
	text-decoration: none;
	color: #6B9DB2;
	 
}

a:hover {
	
	font-weight: bold;
}

a:visited {
	
	color: #617087;
	
		
}

/* =======Header======== */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
	background-color: #617087;
}

.logo {
    
    max-width: 65px;
}

.logo img {
    display: flex;
    align-self: center;
    width: 100%;
    padding: 10% 0%;
   
}

header h2 {
	
	font-size: 0.8em;
	margin-left: 1%; 
}

#title_n_logo {
	
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	width: 140px;
}


#nav_button {
    
    background-color:transparent;
    border: none;
    font-weight: bold;
    font-size: 2em;
    width: 60px;
    color: #C4CB23;
}

/* ======== NAV  Drop Down ========== */ 
#drop_down_nav .nav_section {
    
    position: absolute;
    z-index: 3;  
    background-color: rgba(97, 112, 135, .6);
    padding-right: 13%;
   	
	margin-bottom: 0%;
}


#drop_down_nav .nav_section ul li {
    
    list-style: none;
    font-family: "Quicksand", Calibri, sans-serif;
    font-size: 1.5em;
    padding: 1%;
	margin: 3%;
    width: 100%;
}


#drop_down_nav .nav_section ul li a:link {
    
    text-decoration: none;
    color: #C4CB23;
    
}

#drop_down_nav .nav_section ul li a:visited {
    
    text-decoration: none;
    color: #C4CB23;
    
}

#drop_down_nav .nav_section ul li:hover {
    
    text-decoration: none;
    color: #C4CB23;
    background-color: rgba(97, 112, 135, .9);
    border-top: 1px solid #C4CB23;
    border-bottom: 1px solid #C4CB23;
    
}

#drop_down_nav .nav_section ul li a:hover {
	
	font-weight: 100;
}

/* ====== Way Finding ======= */
#drop_down_nav .active {
	
	text-decoration: none;
    color: #C4CB23;
    background-color: rgba(97, 112, 135, .9);
    border-top: 1px solid #C4CB23;
    border-bottom: 1px solid #C4CB23;
	font-weight: bold;
}

/* ====== nav bar ========= */

#bar_nav {
		
		display: none;
	}


#bar_nav .nav_section {
    
    position: absolute;
    z-index: 3;  
    background-color: rgba(97, 112, 135, .6);
    padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 0%;
}


#bar_nav .nav_section ul li {
    
    list-style: none;
    font-family: "Quicksand", Calibri, sans-serif;
    font-size: 1.5em;
    padding: 1%;
    width: 100%;
}


#bar_nav .nav_section ul li a:link {
    
    text-decoration: none;
    color: #C4CB23;
    
}

#bar_nav .nav_section ul li a:visited {
    
    text-decoration: none;
    color: #C4CB23;
    
}

#bar_nav .nav_section ul li a:hover {
    
    text-decoration: none;
    color: #C4CB23;
    background-color: rgba(97, 112, 135, .9);
    border-top: 1px solid #C4CB23;
    border-bottom: 1px solid #C4CB23;
	font-weight: 100;
    
}


/* ====== Way Finding ===== */

.active_bar a {
	
	background-color: #617087;
	border-bottom: 2px solid #c4cb23;
	border-top: none;
	font-weight: bold;
	
}

/* ========== MAIN Index ============ */

main {
	width: 80%;
	margin: auto;
	background-color: #d7d8da;
	margin-bottom: 10%;
}
.header_img {
    
    width: 100%;
	margin: 0px;
}

.header_img img{
    
    width: 100%;
    opacity: .7;
}

#register_container {
	
	width: 100%;
	padding: 5%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

#register_container h2{
	
	margin-bottom: 0%;
}

#register_container p{
	
	margin-bottom: 6%;
}

/* button styling at top with gernal styling */

#home aside {
	
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 10%;
	margin-top: 5%;

}
/* ====== Links on home page main ==== */
#home aside a:link h2, #events aside a:link h2 {
	
	text-decoration: none;
}
#home aside a:hover h2, #events aside a:hover h2 {
	
 	background-color: rgba(196, 203, 35, .6);
	color: #617087;
}

#home aside img, #events aside img {
	width: 100%;
	opacity: .8
}


.text_overlay {
	width: 100%;
	position: relative;
	top:80px;
	text-align: center;
    z-index: 3; 
	
}

.text_overlay h2 {
	
	background-color:  rgba(97, 112, 135, .5);
	
	padding-bottom: 1%;
	margin-top: 0%;
	text-decoration: none; 
}

/* ========== MAIN Contact Page ============ */

.body_copy {
	
	color: #6c6c6d;
    font-family: "Quicksand", Calibri, sans-serif;
	font-weight: 100;
}

#contact_page section {
	
	margin-bottom: 40px;
}

#contact_page section a {
	
	text-decoration: underline;
	font-size: .8em;
	font-family: "Asar", "Baskerville MT Pro SemiBd", serif;
}
form {
	
	width: 100%;
}

fieldset {
	margin: auto;
	padding: 5%;
	display: flex;
	flex-flow: column;
	background-color:  rgba(97, 112, 135, .2);
	border: 2px solid #6B9DB2;

}

fieldset input, fieldset textarea {
	
	margin-bottom: 15px;
	border: 1px solid #C4CB23;
	background-color: #EBEBEC;
	color: #6c6c6d;
	padding: 4px;
	font-family: "Quicksand", Calibri, sans-serif;
}

fieldset textarea {
	
	width: 97%;
	height: 100px;
}

#contact_page .button {
	
	font-size: 1.3em;

	
}

/* ===== EVENTS ====== */

#events .button {
	
	font-size: 1.3em;
}

#ads_events {
	
	display: grid;
	width: 90%;
	margin: auto;
	grid-template-columns: 1fr;
	margin-bottom: 10%;
	margin-top: 5%;
	

}

/* ===== Tour Page ====== */
#tours h3 {
	
	color: #617087;
	font-size: 1.5em;
	margin-top: 1%;
}

#tours section {
	
	background-color: rgba(97, 112, 135, .2);
	box-shadow: 2px 2px 20px #617087;
	padding: 3%;
	margin: 5%;
}

.catagory {
	
 	color: #6B9DB2; 
    font-family: "Asar", "Baskerville MT Pro SemiBd", serif;
	font-weight: bold;
	font-size: 1.3em;
}	

.tour_groups {
	
	display: flex;
	flex-flow: column;
}

.tour_groups button {
	
	font-size: 1.3em;
	padding: 10px;
}

/* ===== Tour Page ====== */
#sales_page h3 {
	
	font-size: 1.5em;
}

#sales_page li {
	list-style-image: url(/images/bullet_blue.png);
	color: #6c6c6d;
    font-family: "Quicksand", Calibri, sans-serif;
}

#sales_page .catagory {
	
	font-size: 1.2em;
	font-weight: 100; 
}

#sales_page button {
	
	font-size: 1.3em;
	padding: 10px;
}

#sales_page section {
	
	display: flex;
}

.info, .info_2, .info_3 {
	
	background-color: rgba(97, 112, 135, .2);
	padding: 3px 15px 15px 15px;
	display: none;
}


.cost {
	
	background-color: rgba(196, 203, 35, .6);
	padding: 1px 0px;
	font-size: 1.5em;
	text-align: center;
}

.model {
	
	background-color: rgba(107, 157, 178, .8);
	margin-top: -3px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	text-align: center;
	z-index: 3;
	color: #C4CB23;
}

.details {
	
	margin-right: 1%;
	margin-left: 1%;
}

/* ====== FOOTER ======= */

footer {
    
    background-color: #C4CB23;
	width: 100%;
	text-align: center;
	padding: 3% 1% .1% 1%;;
	box-shadow: 0px -30px 40px rgba(0,0,0,.1);
	color: #617087;
}



#footer_nav {
	width: 50%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin: auto;
}


.footer-bar {
	
	color: #617087;
}