/* 
max width 450px
This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
 

body {
    font-size: 16px;
    font-family: "Calibri Light", Calibri, sans-serif;
    color: #632d00;
    
    width: 100%;
    min-width: 350px;
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
    
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    width: 100%;
    
}

h1, h2, h3, h4, h5, h6 {
    
    color: #1c9db2;
    
    font-family: Courgette, "Baskerville MT Pro SemiBd", serif;
}

/*====== Header ====== */

header {
    max-height: 160px;
    
    
}



/* ---- Logo ---- */

header figure {
    
    width: 30%;
    
    margin-left: 0px;
}

header img {
    width: 100%;
    max-width: 150px;
    
}

header h1 {
    
    float: right;
    padding-right: 2%;
    margin-bottom: 0px;
}

header .subheading {
    
    clear: right;
    float: right;
    padding-right: 2%;
    margin-top: 0px;
    
    font-weight: bold;
    font-size: 1.2em;
}


/*========== NAV ========== */
nav button {
    
    background-color: transparent;
    color: white;
    margin-left: 4%;
    border: none;
    font-size: 2rem;
    
    
    
    
}

nav {
    
    background-color: #1c9db2;
    margin: 0px;
    padding: 0px;
}

nav ul {
    
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li a {
    
    display: block;
    text-decoration: none;
    
    color: #fff;
    border-top: 1px solid rgba(255,255,225,0.3);
    
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .1em;
}

nav ul li a:hover {
    
    background-color: rgba(0,0,0,0.15);
}

nav ul li.active a {
    
    background-color: rgba(0,0,0,0.3);
}

nav ul.hide {
    display: none;
}



/*============MAIN=========== */
main {
    
    text-align: center;
}
main h2 {
   font-size: 3em; 
    
}
main figure { 
    margin: auto; 
    width:100%; 
}

main figure img { width: 100%; }

section {
    
    
}

article {
    
    height: 300px;
}

.forecast {
    
    display: none;
}

table {
    
    width: 90%;
    padding-left: 5%;
    
}
td, th {
    
    border: 1px solid black;
}

.current img {
    
    vertical-align: middle;
    max-width: 150px;
}

.current {
    
  font-size: 2em;
    font-weight: bold;
}

.highlow {
    
    display: flex;
    flex-flow: start;
    justify-content: center;
}

.highlow p {
    
    margin: 10px;
}

/*--------- ARTICLE --------*/
/

article  img {
    float: right;
    overflow: auto;
    
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */ 
  width: 50%; 
    


  margin: 10px; 20px; 10px; 10px;
}




 article p.town-article   { 
      margin: 20px;
      height: auto;
     
     font-size: 1.2em;
    
    }
article img {
    min-width: 300px;
    max-width: 350px;
    overflow: auto;
}
    
 article {
     margin: 20px;
     
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     
     overflow: hidden;
     
     height: auto;
     
    }

footer {

    clear:both;
    
    width: 100%;
    background-color: #632d00;
    color: white;

    text-align: center;
    padding: 20px;
    margin-top: 10px;
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */

 /* -----clear fix------- */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}