@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
    nav {
        
        position: absolute;
        top: 25%;
        
    }
    
    nav ul li {
        
        margin-left: 30px;
        background-color: white;
        
        padding: 15px;
    }
    
    
    color: #1c9db2;
    
    nav ul li a {
        
        color: #1c9db2;
    }
        
    nav ul li a:link {
    
    text-decoration: none;
    font-weight: bold;
    
    font size 1.8em;
    color: #1c9db2;
}
nav ul li.active a {}
nav ul li a:hover {
    color: #632d00;
    }
  article p.town-article img { 
      max-width: 29.333%; 
    }
    
    header img {
       height: 125px;
        width: 125px;
        position: realtive;
    
        
    }
    
    header h1 {
        
        color: white;
        text-shadow: 2px 2px 3px gray;
        
    }
    
    header {
        position: absolute;
    
        
    }
    
    .subheading {
        
        size: 5em;
        margin-bottom: 20px;
        
    }
  
}